# Dependencies
node_modules/
npm-debug.log
backend/__pycache__/
.ruff_cache/
__pycache__/
*.pyc
.venv/
*.egg-info/
tests/
tests_manual/

# Persistent Data
data/

# Environment variables
compose-prod*
docker-compose-*
.env*
.env

# System Files
.DS_Store
Thumbs.db
*.bak

# Antigravity
.antigravitycli/
ANTIGRAVITY.md
AGENTS.md

# VSCode
.vscode/
